/*{
	border: 1px solid black;
}*/
*{
	font-family: 'Playfair Display', sans-serif;
    color: #5b627e;

    /*#99a5a5; 	*/
}

body{
	background: #ffffff;
}


/*******************HEADER***************************/

header{
    border-bottom: 0.1em solid #edf2f8;

}

header a{
	color: #5b627e;
	font-weight: bold;
}

header .active a{
	color: #d2dae7 !important;
}

header .nav>li>a:hover{
	background-color: #d2dae7;
	color: #FFFFFF;
}

header nav>div>ul.ulLg>li>a{
	font-size: 1.8em;
	/*margin-top: 4.4em;*/
	border-bottom: 0em;
	padding-bottom: 0.5em;
}

header #ulXs li{
	border-bottom: 0.1em solid #edf2f8;
}


/*******************FOOTER***************************/
footer{
    margin-top: 2em;
	border-top: 0.1em solid #edf2f8;
}

footer li, footer .net a{
    list-style: none;
    color: #000000;	
   /* font-size: 1.1em;*/
    /*line-height: 1.3em;*/
}

footer .map{
	border-left: 0.1em solid #edf2f8;
	/*font-size: 1.1em;*/
    line-height: 1em;
}

footer .copyRight{
	/*font-size: 1.1em;*/
}

/*************************************** Version 0.0 ******************************************/





