
/**********************PRINCIPAL*****************************/
main section{
	margin-bottom: 4em;
}

main section>div img{
	background: #edf2f8;
	padding: 0.2em;
}

main article>div>div>a{
	background-color: #d2dae7;
	color: #5b627e;	
}

main .textSlider{
    background: rgba(145, 157, 183, 0.7);
    padding-top: 0em;
    color: #ffffff;
    font-weight: normal;
}

main h4, main h1{
	font-weight: bold;
}
/*******************FIN PRINCIPAL***************************/